@{
    ViewBag.Title = "Content";
}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h5 class="card-title">Giới Thiệu</h5>

        <div class="row">
            <div class="col-xl-6">
                <p>
                    Thực Phẩm Hữu Cơ KPK mang đến cho bữa ăn gia đình sự tươi ngon, an toàn của các loại rau củ quả hữu cơ theo mùa.
                    Thực Phẩm Hữu Cơ KPK không chỉ có 🥒🍆🥕🌶🍓🌱rau, củ, quả an toàn, tươi ngon theo mùa, mà còn...
                    ✨ Đảm bảo rau, củ, quả được chăm sóc kỹ lưỡng theo phương pháp canh tác hữu cơ, an toàn cho sức khỏe.
                    ✨ Thực Phẩm Hữu Cơ KPK sử dụng bao giấy gói rau củ thân thiện môi trường. Đồng thời, giúp giữ rau, củ, quả tươi lâu hơn trong tủ lạnh.
                    ✨ Túi xách đựng rau củ quả có thể tái sử dụng ♻️ Thực Phẩm Hữu Cơ KPK có chính sách thui hồi túi và tặng rau, củ, quả cho người dùng để khuyến khích việc tái sử dụng túi.
                    ✨ Hơn thế nữa Thực Phẩm Hữu Cơ KPK cam kết trích 25% lợi nhuận hàng năm để đồng hành cùng các em nhỏ khó khăn cắp sách đến trường qua dự án KPK - Ươm mầm xanh.
                </p>
            </div>

            <div class="col-xl-6">
                <img src="~/Content/images/banners/banner10.jpg " width="600" height="450"/>
            </div>
        </div>
       

       
        <br><br>

        <a href="javascript: history.back()" class="btn btn-light"> &laquo Quay về</a>



    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
