@{
    ViewBag.Title = "Thành Công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content bg-white padding-y">
    <div class="container">

        <h2 class="card-title">Đặt hàng thành công!</h2>

            


        <br><br>

        <p><a href="@Url.Action("Index","Home")"> Tiếp tục mua hàng</a></p>



    </div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
