
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<section class="section-content bg-white padding-y">
    <div class="container">

        <h2>Đăng Kí Thành Công!</h2>

        <h4><a href="~/Home/DangNhapKH">Nhấn vào đây để đăng nhập</a> </h4>
        </div>

  </section>